{% extends 'bookings/base.html' %}

{% block content %}

<h2>Delete Booking</h2>

<div class="alert alert-danger mt-3">

    <p>Are you sure you want to delete this booking?</p>

    <strong>
        {{ booking.session }} —
        {{ booking.date }} at {{ booking.time }}
    </strong>

</div>

<form method="post">

    {% csrf_token %}

    <button class="btn btn-danger">
        Yes, Delete
    </button>

    <a href="/my-bookings/" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}